$estilos-varios:(
color-primario: #F4F0E4,
color-secundario-1: #134a37,
color-secundario-2: #e1eedd,
alto-img-landing: 800px,
);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    text-align: center;
}

@mixin img-landing{
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin tamaños ($width, $height) {
    width: $width;
    height: $height;
}

.fondo1{
    background-color: map-get($estilos-varios, color-primario);
}

.fondo2{
    background-color: map-get($estilos-varios, color-secundario-1);
}

.fondo3{
    background-color: map-get($estilos-varios, color-secundario-2);
}

.img-responsive1{
    max-width: 100%;
    height: 150px;
}

.img-responsive2{
    @include tamaños(300px, 400px);
}

header{
    div{
        div{
            p{
                display: inline;
            }
        }
    }
}

header{
    div{
        div{
            i{
                display: inline;
            }
        }
    }
}

main{
    div{
        div{
            img{
                padding-bottom: 10px;
                transition-duration: 2s;
            }
        }
    }
}

main{
    div{
        div{
            img:hover{
                @include tamaños(50%, 50%);
            }
        }
    }
}

.links-sin-formato{
    text-decoration: none;
    color: black;
}

.agrandar-iconos{
    font-size: 200%;
}

.grid-main-nuestrosservicios{
    background-color: map-get($estilos-varios, color-primario);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas: "ser1"
                         "ser2"
                         "ser3"
    ;
}

.ser{
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.ser1{
    @extend .ser;
    background-image:url(../Images/eventos.jpg);
}

.ser2{
    @extend .ser;
    background-image: url(../Images/capacitaciones.jpg);
}

.ser3{
    @extend .ser;
    background-image: url(../Images/regalos.jpg);
}

.map-container{
    overflow:hidden;
    padding: 10px;
    position: relative;
    height:0;
    margin: 10px;
    iframe{
        left:0;
        top:0;
        @include tamaños(100%, 200px);
        position:absolute;
    }
} 

span{
    font-weight: bolder;
    font-size: large;
}

.img-panadería{
    background-image: url(../Images/s3.jpg);
    @include img-landing;
    height: map-get($estilos-varios, alto-img-landing);
}

.img-pastelería{
    background-image: url(../Images/Cookies.jpeg);
    @include img-landing;
    height: map-get($estilos-varios, alto-img-landing);
}

.img-logo-navbar{
    @include tamaños(40px, 40px);
}

.main-quienessomos{
    height: 800px;
}